<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar Exame - Dev Healthy</title>
    <link rel="stylesheet" href="/static/consultar_exame/consultar_exame.css">
    <link rel="stylesheet" href="/static/Home/home.css">
    <link rel="icon" href="/static/Home/imagens/Captura_de_tela_2024-11-02_124301-removebg-preview.ico" type="image/x-icon">
</head>
<body>
    <!-- Barra de Navegação -->
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="/"><img src="/static/Home/imagens/Captura_de_tela_2024-11-02_124301-removebg-preview.png" alt="Dev Healthy"></a>
        </div>
        <div class="navbar-menu">
            <a href="/cadastrar_paciente"><button class="menu-button">Cadastrar Paciente</button></a>|
            <a href="/consultar_paciente"><button class="menu-button">Consultar Paciente</button></a>|
            <a href="/criar_exame"><button class="menu-button">Criar Exame</button></a>|
            <a href="/consultar_exame"><button class="menu-button">Consultar Exame</button></a>|
            <a href="/editar_paciente"><button class="menu-button">Editar Paciente</button></a>|
            <a href="/editar_exame"><button class="menu-button">Editar Exame</button></a>|
            <a href="/excluir"><button class="menu-button">Excluir</button></a>
        </div>
        <div class="offcanvas" id="offcanvasMenu">
            <button class="close" onclick="toggleMenu('offcanvasMenu')">✖</button>
            <a href="/"><button class="menu-button">Home</button></a>
            <a href="/cadastrar_paciente"><button class="menu-button">Cadastrar Paciente</button></a>
            <a href="/consultar_paciente"><button class="menu-button">Consultar Paciente</button></a>
            <a href="/criar_exame"><button class="menu-button">Criar Exame</button></a>
            <a href="/consultar_exame"><button class="menu-button">Consultar Exame</button></a>
            <a href="/editar_paciente"><button class="menu-button">Editar Paciente</button></a>
            <a href="/editar_exame"><button class="menu-button">Editar Exame</button></a>
            <a href="/excluir"><button class="menu-button">Excluir</button></a>
        </div>
        <button class="offcanvas-toggle" onclick="toggleMenu('offcanvasMenu')">☰</button>
    </nav>

    <div class="container">
        <h2>Consultar Exame</h2>
        <form id="formConsultarExame">
            <label for="consultaPaciente">CPF do paciente:</label>
            <input type="text" id="consultaPaciente" list="sugestoesPacientes" placeholder="Somente números" required>
            <datalist id="sugestoesPacientes"></datalist>
            <button id="botao_buscar" type="submit" onclick="consultarExame()">Buscar Exames</button>
        </form>

        <div id="mensagem"></div>
        <table id="resultadoConsulta">
            <thead>
                <tr>
                    <th>Nome do Paciente</th>
                    <th>CPF</th>
                    <th>Tipo de Exame</th>
                    <th>Data do Exame</th>
                    <th>Detalhes</th>
                </tr>
            </thead>
            <tbody>
                <!-- Os exames serão inseridos aqui -->
            </tbody>
        </table>
    </div>

    <script src="/static/consultar_exame/consultar_exame.js"></script>
</body>
</html>
